@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 97.25%;
        --foreground: 20 14.29% 4.12%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 346.22 56.92% 25.49%;
        --secondary-foreground: 0 0% 97.25%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 100% 45.77%;
        --destructive-foreground: 0 0% 98%;
        --ring: 346.8 77.2% 49.8%;
        --chart-1: 341.89 79.6% 54.74%;
        --chart-2: 160.75 54.58% 44.29%;
        --chart-3: 197 75.21% 56.55%;
        --chart-4: 101.89 100% 63.16%;
        --chart-5: 49.81 95.41% 66.5%;
        --radius: 0.4rem;
    }

    .dark {
        --background: 346.22 34.12% 6.88%;
        --foreground: 0 0% 95%;
        --muted: 0 0% 8.63%;
        --muted-foreground: 240 5% 64.9%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --card: 350 40.74% 12.57%;
        --card-foreground: 0 0% 95%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 95.12% 52.7%;
        --destructive-foreground: 0 85.7% 97.3%;
        --ring: 346.8 77.2% 49.8%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
